/* General Styles */

/* .centered{
  text-align: center;
}

.read-the-docs {
  color: #888;
}


.bg {
    height: 100vh;
    padding: 50px;
    overflow: hidden;
    transition: 0.2s all linear;
  }
  
  .heading {
    text-transform: uppercase;
    transition: 0.2s all linear;
  }
  
  .btn {
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all linear;
  }
  
  .para {
    width: 70vw;
    transition: 0.2s all linear;
  }
  
  /* Light Mode Styles */
  .navi{
    display: flex;
  }
  
  .bg-light {
    background-color: #fff;
    color: #000;
  }
  
  .heading-light {
    color: #222;
  }
  
  .para-light {
    color: #222;
  }
  
  .btn-light {
    background-color: #222;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* Dark Mode Styles */
  
  .bg-dark {
    background-color: #222;
    color: #fff;
  }

  .bg-dark-nav {
    background-color: black;
    color: #fff;
  }
  
  .heading-dark {
    color: #fff;
  }
  
  .para-dark {
    color: #fff;
  }
  
  .btn-dark {
    background-color: #fff;
    color: #222;
  
  }

  .card-grid{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    
  }
